# Editor
*.sublime-project
*.sublime-workspace
*.DS_Store

# Configuration files
config/*
*.cfg
!*.example

# Data
data/*
*.zip
data_io.py
census_data/*

# Google Maps plotting library
gmplot/*
gmplot

# Scratch
scratch*.py

# Output
output/*
*.html

# Notebooks
*.ipynb*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
