# Editor
*.sublime-project
*.sublime-workspace
*.DS_Store

# Configuration files
*.cfg
!*.cfg.example

# Data
data/*
*.zip

# Output
output/*
*.html

# Notebooks
*.ipynb*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
